
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<title>RegistrationForm</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="{% static 'fonts/material-design-iconic-font/css/material-design-iconic-font.min.css'%}">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="{% static 'styles/style.css' %}">
		<link rel="stylesheet" href="{% static 'styles/register.css' %}">
		<style>
            body {
                color: yellow;
			  }
			h1{
				text-align: center;
			}
              
        </style>
	</head>

	<body>
		

		<div class="wrapper" style="background-image: url({% static 'images/bg-registration-form-2.jpg' %})">
			<div class="inner">
				<form action="register" method='POST'>
					{% csrf_token %}
					<h1 >Registration Form</h1><br>
					<div class="form-group">
						<div class="form-wrapper">
							<label for=""><h2>First Name</h2></label>
							<input type="text" name='first_name' class="form-control">
						</div>
						<div class="form-wrapper">
							<label for=""><h2>Last Name</h2></label>
							<input type="text"  name='last_name'class="form-control">
						</div>
					</div>
					<div class="form-wrapper">
						<label for=""><h2>User Name</h2></label>
						<input type="text" name='username' class="form-control">
					</div>
					<div class="form-wrapper">
						<label for=""><h2>Email</h2></label>
						<input type="email" name='email' class="form-control">
					</div>
					<div class="form-wrapper">
						<label for=""><h2>Password</h2></label>
						<input type="password"  name='password1' class="form-control">
					</div>
					<div class="form-wrapper">
						<label for=""><h2>Confirm Password</h2></label>
						<input type="password" name='password2' class="form-control">
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"> I caccept the Terms of Use & Privacy Policy.
							<span class="checkmark"></span>
						</label>
					</div>
					<button id='register' class='btn-success'>Register</button>
					<div id="container"></div>
				</form>
				{% for message in messages %}
					  <h1>{{ message }}</h1>	
				{% endfor %}
			</div>
		</div> 
		{%for msg in messages %}
			{{ msg.messages }}
		{%endfor%}


		<script>
			$('#sendotp').click(function () {
				$('#container').append('<div class="form-wrapper"><label >OTP</label>
					<input type="text"  name='otp'id='otp' class="form-control hide"></div>');
				$('#container').append('<button id='reg' class='hide'> Register Now </button>');
			});
		
		
			$("#sendotp").on("click", function(){
				$("#otp").show();
				$("#reg").show();
			   });
		</script>
		<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
		<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
	
	</body>
</html>
